<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365535867982-soco9af6eahoht5ea0i4plpke2kum9tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365535867982-soco9af6eahoht5ea0i4plpke2kum9tn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365535867982-668vafvf12s9u500r070uugjsc5vdupr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSaXIdo77NXbHFp1a-xU2oLuMohd1S0kw</string>
	<key>GCM_SENDER_ID</key>
	<string>365535867982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digiatt</string>
	<key>PROJECT_ID</key>
	<string>digiatt-corp</string>
	<key>STORAGE_BUCKET</key>
	<string>digiatt-corp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365535867982:ios:e32df7db2b4aa58ef33f1f</string>
</dict>
</plist>